<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="brand-name">
          <%= link_to('MembersOnly', root_path) %>  
      </div>
      <div class="nav-links">
        <div class="nav-link">
          <%= logged_user(@post)['user'] %>
        </div>
        <div class="nav-link">
          <%= logged_user(@post)['logout'] %>
        </div>
        <div class="nav-link">
          <%= logged_user(@post)['new_post'] %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
